<div class="container">
    <form class="newPostForm">
        <mat-form-field class="newPostField">
        <mat-label>New Post</mat-label>
        <textarea (focus)="onFocus()" matInput #message [attr.maxlength]="maxMessageLen" placeholder="write something..."></textarea>
        <mat-hint align="end">{{message.value.length}} / {{maxMessageLen}}</mat-hint>
        </mat-form-field>
    </form>
    <div class="controls" *ngIf="focused">
        <button mat-icon-button class="example-icon favorite-icon" (click)="insertImage()" aria-label="Example icon-button with heart icon">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M7,15L11.5,9L15,13.5L17.5,10.5L21,15M22,4H14L12,2H6A2,2 0 0,0 4,4V16A2,2 0 0,0 6,18H22A2,2 0 0,0 24,16V6A2,2 0 0,0 22,4M2,6H0V11H0V20A2,2 0 0,0 2,22H20V20H2V6Z" />
            </svg>
        </button>
        <button mat-button (click)="Cancel()">
            <span>Cancel</span>
        </button>
        <button mat-button type="submit" (click)="Post(message.value)">
            <span>Post</span>
        </button>
    </div>
</div>
