@import '../../../assets/colors/colors.scss';
.newPostForm {
    padding: 10px;
}
.newPostField{
    width: 100%;
}
.controls {
    color: white;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.container {
    background-color: $color-light-100;
    border-radius: 5px;
}