<mat-toolbar calss="navbar">
    <span>Sylwow Forum</span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="'/blogwow'">
        <span>Blogwow</span>
    </button>
    <div *ngIf="loggedIn; else signIn">
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
            <div class="avatarContainer">
                <img class="avatarImg" [src]="getavatarPath()">
            </div>
        </button>
    </div>
    <ng-template #signIn>
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M10,17V14H3V10H10V7L15,12L10,17M10,2H19A2,2 0 0,1 21,4V20A2,2 0 0,1 19,22H10A2,2 0 0,1 8,20V18H10V20H19V4H10V6H8V4A2,2 0 0,1 10,2Z" />
            </svg>
        </button>
    </ng-template>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showLogInDialog()">
            <span>sign In</span>
        </button>
    </mat-menu>
  </mat-toolbar>