$color-light-0: #7ecfb6;
$color-light-50: #90d6c0;
$color-light-100: #a3ddcb;
$color-light-150: #b6e4d6;
$color-light-200: #c8ebe0;

$color-limone-0: #dedf78;
$color-limone-50: #e3e48c;
$color-limone-100: #e8e9a1;
$color-limone-150: #edeeb6;
$color-limone-200: #f2f3ca;

$color-orange-0: #dfa03a;
$color-orange-50: #e2aa50;
$color-orange-100: #e6b566;
$color-orange-150: #eac07c;
$color-orange-200: #edca92;


$color-pink-0: #dd4557;
$color-pink-50: #e15a6b;
$color-pink-100: #e5707e;
$color-pink-150: #e98691;
$color-pink-200: #ed9ba5;
