<div class="container">
    <div class="message" *ngFor="let post of posts">
        <div class="avatarContainer">
            <img class="avatarImg" [src]="getavatarPath(post)">
        </div>
        <div class="content">
            <div class="messageTitle">
                <span class="username">{{post.username}}</span>
                <span class="time">{{getHoursDiff(post.createTime)}} hours ago</span>
            </div>
            <span *ngFor="let row of post.message">
                <p>
                    {{row}}
                </p>
                <br>
            </span>
            <div *ngIf="post.media">
                <img class="images" *ngFor="let url of post.media" [src]="url" alt="">
            </div>
        </div>
    </div>
    <div class="spinnerContainer">
        <div class="spinner" *ngIf="spinner">
            <mat-spinner diameter="60" ></mat-spinner>
        </div>
    </div>
</div>