@import './../../../assets/colors/colors.scss';

.separator {
    width: 100%;
    height: 10px;
}

.container {
    width: 90%;
    padding: 5%;
    color: white;
    font-family: 'Lato', sans-serif;
}
.message {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.spinnerContainer {
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.spinner {
    margin: auto;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: white
}

.avatarContainer {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.content {
    flex-grow: 1
}

.messageTitle {
    width: 100%;
    display: flex;
}
.username {
    padding: 5px;
    font-weight: bold;
    font-size: 17px;
    color: $color-orange-100;
}

.time {
    padding: 5px;
    color: $color-pink-150;
}

.avatarImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block; /* remove extra space below image */
}

.images {
    width: 100%;
}