.separator {
    width: 100%;
    height: 10px;
}

.container {
    width: 90%;
    padding: 5%;
    color: white;
}
.message {
    width: 100%;
}
.spinnerContainer {
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.spinner {
    margin: auto;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: white
}