<div class="container">
    <div class="message" *ngFor="let post of posts">
        <div class="avatarContainer">
            <img class="avatarImg" [src]="getavatarPath(post)">
        </div>
        <div class="content">
            <div class="messageTitle">
                <span class="username">{{post.username}}</span>
                <span class="time">{{getHoursDiff(post.createTime)}} hours ago</span>
                <span class="spacer"></span>
                <span class="rate">{{post.rate}}</span>
                <span>
                    <button mat-icon-button class="example-icon favorite-icon" (click)="bump(post)" aria-label="Bump rate">
                        <svg style="width:34px;height:24px" viewBox="0 0 34 24">
                            <path [style.fill]="post.bumpedByYou ? 'black': 'white'" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
                        </svg>
                    </button>
                </span>
            </div>
            <span *ngFor="let row of post.message">
                <p>
                    {{row}}
                </p>
                <br>
            </span>
            <div *ngIf="post.media">
                <img class="images" *ngFor="let url of post.media" [src]="url" alt="">
            </div>
        </div>
    </div>
    <div class="spinnerContainer">
        <div class="spinner" *ngIf="spinner">
            <mat-spinner diameter="60" ></mat-spinner>
        </div>
    </div>
</div>